
 

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: blue;
    text-decoration: underline;
    margin-bottom: 40px;
}
h2 {
    text-align: center;
    color:green;
    text-decoration: underline;
    margin-bottom: 40px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.project {
    margin-bottom: 20px;
}

.project h2 {
    color: #333;
}

.project ul {
    margin-top: 10px;
}




  
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
    }
    
  
    .content {
    max-width: 500px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 